/* ########################################################################## */
/* #          ANG KANI NGA CSS NAG SERVE AS ROOT STYLE SA WEBSITE           # */
/* ########################################################################## */

:root {
    /* goods ni nga practice kay variables ni diri nga part */
    --primary-color: 24, 109, 99;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* para kung unsay e set nimo nga width & height mao gyud iyang size bisan pa og naay padding */
    font-family: "Lexend Deca", sans-serif;
    /* gi-define ang default properties sa page aron dili na kapoy */
}

/*ga andam na og mga pre-define classname para puhon magamit ni for manipulation sa element using javascript*/
.hidden {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrapper {
    /* dili recommended mo gamit og pixel kay dili responsive (optional) bahala na di bitaw ni ako */
    width: 1280px;      /* width limit sa page */
    max-width: 100%;    /* default width sa page */
    padding: 0 5%;    /* para dili dikit sa kilid */
    box-sizing: content-box;
}

h2 {
    font-size: 30px;
    color: rgb(var(--primary-color));
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    text-decoration: none;
    background-color: rgb(var(--primary-color));
    color: #fff;
    height: 40px;
    padding: 0 26px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    background-color: rgb(var(--primary-color), 0.8);
}

.btn:active {
    background-color: rgb(var(--primary-color), 0.9);
}

.btn.big {
    font-size: 16px;
    color: #fff;
    height: 50px;
    padding: 0 40px;
    border-radius: 25px;
}

ul {
    list-style-type: none;
}

/* Header Style */

/* header and footer should belong to default css style kay all pages mani mo appear ang kani nga section */
#header-nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    width: 100%;
    padding: 0 5%;
    margin: 64px 0;
}

.nav-container {
    display: flex;
    gap: 8px;
}

.nav-container a {
    color: #000;
    background-color: transparent;
}

.nav-container a:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.nav-container a:active {
    background-color: rgba(0, 0, 0, 0.03);
}

.nav-container a.active {
    background-color: rgb(var(--primary-color));
    color: #fff;
    pointer-events: none;
}

/* .container {
    display: flex;
    flex-direction: horizontal;
    align-items: baseline;
    justify-content: baseline;
    height: 20vh;
    text-align: center;
}

.elevateme {
    font-size: 30px;
    font-weight: bold;
    margin: 50px auto 70px 70px;
    color: #448a81;
}

.button-clicked {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: 0;
    background-color: #448a81;
    color: #ffffff;
    margin: 0 50px 0 0;
}
.button1 {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: 0;
    background-color: #ffffff;
    color: black;
    margin: 0 50px 0 0;
}

.psg {
    font-size: 30px;
    font-weight: bold;
    margin: 50px auto 0 120px;
    color: #448a81;
}
.generator {
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 100px 120px;
    color: #448a81;
}

.specify-text1,
.specify-text2,
.specify-text3 {
    margin: 0 auto 0 120px;
}

.generate-button {
    width: 150px;
    height: 50px;
    margin: 100px auto 0 120px;
    color: #ffffff;
    border-radius: 25px;
    border: 2px;
    background-color: #448a81;
}

/* For screens smaller than 768px *
@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        height: auto; /* Adjust height as needed *
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .psg,
    .generator,
    .specify-text1,
    .specify-text2,
    .specify-text3,
    .generate-button {
        margin: 10px auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .generate-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
} */
